*{margin:0; padding: 0;border: 4}

body {

   background: url("../img/fundo1-madeira.jpg" ) ;

	
}


.titulo {
     
    
	
    margin: -40px 0px 5px 0px;
    padding: 40px 0px 20px 10px;


}

.titulo h1 {

    font-family: arial, sans-serif;
    text-shadow: 3px 4px 6px rgba( 0, 0, 0, 0.5 );
    font-size: 30pt; 
    position: absolute;
    text-transform: uppercase;
    margin: -100px 200px 0px 200px; 
    color: #fff;

}

.titulo img {

    
	margin-left:-20px;
	height: 160px; 
}




.corpo {

    position: absolute;
	background: #fff ; 
	width: 900px;
	height: 550px;
	margin: -70px 0px 0px 227px; 
	box-shadow: 0px 0px 30px rgba(0, 0, 4, .5);
    

}

.borda {

	border-bottom: 1px #606060 solid;
	height: 45px;
}


.menu {

	display: block;
}

.menu h1 {

	display: none;
}


.menu ul {

	list-style: none;
	text-transform: uppercase;
	position: absolute;
	top: -2px ;
	left: 815px ;

}

.menu li {

    display: inline-block;
    background-color: #ddd;
    padding: 10px;
    margin: 6px;    
    transition: background-color 1s ; 

}


.menu li:hover {

	background-color: #606060;

}


.menu a {

	color: #000000;
    text-decoration: none;

}

.menu a:hover {

	color: #fff;

}

.cada {

	padding-bottom: 45%;
}

.textoo  {

	padding: 10px;
	width: 70%;
	float: right;
}

.texto h2 {

    display: inline-block;
    background-color: #aaa;
    width: 395px;
	padding-left: 5px;



}

.texto p {

	padding: 10px;

}

.texto h4 {

	padding-left: 5px;
}


.texto {

    background-color: #ddd;
	display: block;
	width: 588px;
	height: 402px;
    float: right;
    padding-top: 50px;


}

.lateral {

    background-color: #ddd ;
	display: block;
	width: 300px; 
	height: 442px;
	background-repeat: no-repeat;
	float: left;
	border-right: 1px solid #000;
	padding: 5px; 

}


.lateral p {

    font-family: arial, sans-serif;
    font-size: 35pt; 
    text-align: center;
    text-shadow: 3px 4px 6px rgba( 0, 0, 0, 0.5 );

}

.rodape {

	clear: both;
	border-top: 1px solid #000;
	
}

.rodape p {

	text-align: center;
	padding: 5px;
}

